* {
  font-family: Fira Code, Verdana, Geneva, Tahoma, sans-serif;

  margin: 0px;
  padding: 0px;

  --darkest: #2C2C54;
  --dark: #474787;
  --light: #AAABB8;
  --lighest: #ECECEC;
}

.main-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  background-color: var(--lighest);
  color: var(--darkest);
}

/*
* NOTE: COLOR PALLETE
*
* dark indigo #2C2C54
* deep purple-gray #474787
* cool gray #AAABB8
* light gray #ECECEC
*
*/
